:root {
  --color-black: #222;
  --black: 34, 34, 34;
  --color-white: #fff;
  --white: 255, 255, 255;
  --color-accent: #f43;
  --accent: 255, 68, 51;
  --color-neutral-5: #858c94;
  --neutral-5: 133, 140, 148;
  --color-neutral-7: #dadee3;
  --neutral-7: 218, 222, 227;

  --font-primary: 'Work Sans', sans-serif;
  --font-secondary: Alegreya, serif;
}
