@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
  position: relative;
  z-index: 100;
}

.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 2rem;

  @media (--media-min-medium) {
    text-align: initial;
    align-items: flex-start;
  }
}

.branding {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--color-white);
  margin: 0;
  line-height: 0.9;
  text-transform: uppercase;

  @nest & h1 {
    letter-spacing: 0.1em;
    font-weight: 300;

    @media (hover: hover) {
      @nest &:hover {
        /* text-decoration: underline; */
      }
    }
  }

  @nest & .firstName {
    letter-spacing: 0.12em;
    font-weight: 800;
  }
}

.headshot {
  border-radius: 50%;
  margin: 20vh 3rem 3rem 3rem;
  @media (--media-min-medium) {
    margin: 20vh 0 2rem -0.4rem;
  }
}

.contactLink {
  text-decoration: none;
  color: white;
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.12em;
  @nest & svg {
    vertical-align: middle;
    margin-bottom: 0.2em;
  }
}

.contactInfo {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;

  @nest & li {
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    @nest & .label {
      display: none;
    }
  }

  @media (--media-min-medium) {
    display: block;
    @nest & li {
      padding: 0.5rem 0;
      margin: 0.5rem 0;
      @nest & .label {
        display: inline;
      }
    }
  }
}
