@import '../styles/media-queries.css';
@import '../styles/vars.css';

.root {
  position: relative;
  display: flex;
  align-items: center;
  @media (--media-min-medium) {
    align-items: flex-start;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (--media-min-medium) {
    margin: 10vh 2rem 0 0;
    text-align: initial;
    align-items: flex-start;
  }
}

.branding {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--color-white);
  margin: 0;
  line-height: 0.9;
  text-transform: uppercase;

  @nest & h1 {
    letter-spacing: 0.1em;
    font-weight: 300;
    margin: 0;
    @media (--media-min-medium) {
      margin: initial;
    }

    @media (hover: hover) {
      @nest &:hover {
        /* text-decoration: underline; */
      }
    }
  }

  @nest & .firstName {
    display: block;
    letter-spacing: 0.12em;
    font-weight: 800;
  }
}

.headshotWrapper {
  margin: 4rem 3rem 2rem 3rem;
  border-radius: 50%;
  z-index: 100;
  overflow: hidden;
  position: relative;
  height: 10rem;
  width: 10rem;
  @media (--media-min-medium) {
    margin: 2rem 0 2rem -0.4rem;
  }
  @nest & .headshot {
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  @nest &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 1rem rgba(var(--black), 0.4);
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}

.contactLink {
  text-decoration: none;
  color: white;
  font-family: var(--font-primary);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.12em;
  @nest & svg {
    vertical-align: middle;
    margin-bottom: 0.2em;
  }
}

.contactInfo {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: flex;

  @nest & li {
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    @nest & .label {
      display: none;
    }
  }

  @media (--media-min-medium) {
    display: block;
    @nest & li {
      padding: 0.5rem 0;
      margin: 0.5rem 0;
      @nest & .label {
        display: inline;
      }
    }
  }
}
