@import '../styles/media-queries.css';
@import '../styles/vars.css';

.pageWrapper {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 80vh 4rem 1fr 4rem; */
  @media (--media-min-medium) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 6rem calc(100vh - 4rem);
    width: 100vw;
    height: 100vh;
  }
  @media (--media-max-medium) {
    min-height: 100vh;
  }
}

.header {
  background-image: linear-gradient(
    to top,
    hsla(193, 100%, 49%, 0.8) 0%,
    hsla(217, 100%, 46%, 0.9) 100%
  );
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: white;
  grid-area: 1 / 1 / 2 / 2;
  @media (--media-min-medium) {
    grid-area: 1 / 1 / 3 / 2;
  }
}

.body {
  grid-area: 3 / 1 / 5 / 2;
  overflow: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
  @media (--media-min-medium) {
    grid-area: 2 / 2 / 3 / 3;
  }
  @media (--media-max-medium) {
    min-height: 66vh;
  }
}

.footerContainer {
  @media (--media-max-medium) {
    border-bottom: solid 4px var(--color-accent);
  }
}

footer {
  @nest & .footerWrapper {
    @nest & .siteInfo {
      display: flex;
      justify-content: space-between;
      font-style: italic;
      color: var(--color-neutral-5);
      @media (--media-max-medium) {
        flex-direction: column;
        @nest & div {
          margin: 0.5rem 0;
        }
      }
    }
  }
}

.navContainer {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;

  @nest & .nav {
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    grid-area: 2 / 1 / 3 / 2;
    @media (--media-min-medium) {
      grid-area: 1 / 2 / 2 / 3;
    }
    font-family: var(--font-primary);

    @nest & ul {
      margin: 0;
      padding: 1rem 0.5rem;
    }

    @nest & ul li a {
      display: block;
      color: inherit;
      text-decoration: none;
      padding: 1.5rem;
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-weight: 700;
      font-size: 1.2rem;
      position: relative;
      @nest &:active {
        color: var(--color-accent);
      }
      @nest &[aria-current] {
        color: var(--color-accent);
        @nest &:before {
          content: '';
          width: 24%;
          position: absolute;
          display: block;
          bottom: 1em;
          height: 4px;
          background: var(--color-accent);
          @media (--media-max-medium) {
            bottom: 0;
          }
        }
      }
      @nest &:after {
        content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 512'><path fill='rgb(0,91,234)' d='M624 288h-16v-64c0-17.67-14.33-32-32-32h-48L419.22 56.02A64.025 64.025 0 00369.24 32H256c-17.67 0-32 14.33-32 32v128H64c-17.67 0-32 14.33-32 32v64H16c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h49.61c-.76 5.27-1.61 10.52-1.61 16 0 61.86 50.14 112 112 112s112-50.14 112-112c0-5.48-.85-10.73-1.61-16h67.23c-.76 5.27-1.61 10.52-1.61 16 0 61.86 50.14 112 112 112s112-50.14 112-112c0-5.48-.85-10.73-1.61-16H624c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16zM288 96h81.24l76.8 96H288V96zM176 416c-26.47 0-48-21.53-48-48s21.53-48 48-48 48 21.53 48 48-21.53 48-48 48zm288 0c-26.47 0-48-21.53-48-48s21.53-48 48-48 48 21.53 48 48-21.53 48-48 48z'/></svg>");
        width: 1.4rem;
        height: 1.4rem;
        display: block;
        position: absolute;
        top: 1.7rem;
        right: 1rem;
        transform: translate(0);
        opacity: 0;
        transform-origin: left;
        transition: all 0.3s ease-in-out;
        @media (--media-max-medium) {
          top: 0.7rem;
          right: 0.2rem;
        }
      }
    }

    @media (hover: hover) {
      @nest & ul li a:hover:after {
        transform: translate(1rem);
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }
    }

    @media (--media-max-medium) {
      position: sticky;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      left: 0;
      right: 0;
      top: 0;

      @nest & ul {
        padding: 1rem 0;
        margin: 0 auto;
        justify-content: space-evenly;
      }

      @nest & ul li a {
        padding: 0.5rem 0.5rem;
      }
    }

    @media (--media-min-small) {
      display: block;

      @nest & ul {
        list-style: none;
        display: flex;
        max-width: 400px;
      }

      @nest & ul li a {
        /* padding: 1rem; */
      }
    }
  }
}
